.container-content,.shopping-cart{
    max-width: 1440px;
    margin: auto;
    padding: 40px 0px;
  }
  .add-product{
    display:flex;
    flex-direction: column;
    gap:20px;
    height: fit-content;
  }
  .add-button{
    width:fit-content;
    margin:auto;
  }
  .card-body {
    display:flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
  }
  .button-group{
    display:flex;
    justify-content: center;
    gap:8px
  }
  .quantity-button {
    border: solid thin rgb(190, 190, 190);;
    border-radius: 4px;
    padding: 8px 12px;
    display: flex;
    justify-content: space-between;
    color: rgb(190, 190, 190);;
    width: 120px;
  }
  #quantity {
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
  }
  .cart-table{
    width: 100%;
    margin-top: 20px;
  }
  .color-green{
    color: green;
  }
  .color-red{
    color: red;
  }